.footer {
  background-color: var(--color-black);
  padding: 45px 0 40px;
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;

    @include big-tablet {
      flex-direction: column;
      justify-content: center;
      margin-bottom: 100px;
    }
    @include small-tablet {
      margin-bottom: 35px;
    }
  }
  &__notify {
    @include big-tablet {
      text-align: center;
      margin-bottom: 35px;
    }
  }
  &__nav {
    display: flex;

    @include big-tablet {
      justify-content: space-around;
    }
    @include small-tablet {
      flex-direction: column;
    }
  }
  &__column {
    padding-top: 10px;
    &:nth-child(1) {
      margin-right: 84px;

      @include big-tablet {
        margin-right: 0;
      }
      @include small-tablet {
        margin-bottom: 35px;
      }
    }
    &:nth-child(2) {
      margin-right: 146px;

      @include big-tablet {
        margin-right: 0;
      }
      @include small-tablet {
        margin-bottom: 35px;
      }
    }
    &:nth-child(3) {
      margin-right: 33px;

      @include big-tablet {
        margin-right: 0;
      }
    }

    @include big-tablet {
      padding: 0;
    }
  }
  &__title {
    font-family: "Liberation", sans-serif;
    font-size: 42px;
    line-height: 72px;
    color: var(--color-light);
    margin-bottom: 12px;

    @include tablet {
      font-size: 30px;
      line-height: 45px;
    }
    @include small-tablet {
      font-size: 25px;
      line-height: 35px;
    }
  }
  &__descr {
    max-width: 430px;
    line-height: 27px;
    color: var(--color-light);
    margin: 0 auto 14px;

    @include big-tablet {
      max-width: 75%;
    }
    @include small-tablet {
      max-width: none;
    }
  }
  &__form {
    position: relative;
    max-width: 440px;

    @include big-tablet {
      max-width: 75%;
      margin: 0 auto;
    }
    @include small-tablet {
      max-width: none;
    }
  }
  &__input {
    width: 100%;
    height: 53px;
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: #818181;
    background-color: transparent;
    border-bottom: 1px solid var(--color-gray);
    padding: 0 60px 0 10px;
    &::placeholder {
      font-family: "Roboto", sans-serif;
      font-size: 9px;
      line-height: 14px;
      letter-spacing: 0.12px;
      text-transform: uppercase;
      color: #818181;
    }
  }
  &__btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: var(--color-light);
  }
  &__column-title {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--color-light);
    margin-bottom: 26px;
  }
  &__list-item {
    &:not(:last-child) {
      margin-bottom: 21px;
    }
  }
  &__list-link {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-footer);
    transition: color 0.3s ease-in-out;
    &:hover {
      color: var(--color-light);
    }
  }
  &__bottom-list {
    display: flex;

    @include big-tablet {
      justify-content: center;
    }
    @include tablet {
      flex-wrap: wrap;
    }
    @include small-tablet {
      flex-direction: column;
    }
  }
  &__bottom-item {
    &:not(:last-child) {
      margin-right: 63px;
    }

    @include tablet {
      margin-bottom: 20px;
    }
  }
  &__bottom-link {
    font-size: 16px;
    line-height: 24px;
    color: var(--color-footer);
    transition: color 0.3s ease-in-out;
    &:hover {
      color: var(--color-light);
    }
  }
  &__copy {
    font-size: 15px;
    line-height: 24px;
    color: var(--color-light);
  }

  @include tablet {
    padding: 35px 20px;
  }
}
