.hero {
  position: relative;
  background-color: var(--color-accent);
  &__wrapper {
    display: flex;
  }
  &__image {
    display: flex;
    width: 50%;
    font-size: 0;
  }
  &__img {
    width: 100%;
    background-image: var(--color-silver);
  }
  &__content {
    padding: 312px 0 100px;
    margin-left: 60px;
  }
  &__title {
    max-width: 460px;
    font-family: "Liberation", sans-serif;
    font-weight: 400;
    font-size: 73px;
    line-height: 96px;
    color: var(--color-light);
    margin-bottom: 34px;
  }
  &__descr {
    max-width: 575px;
    color: var(--color-light);
    margin-bottom: 62px;
  }
  &__btn {
    padding: 18px 57px 20px;
  }
}
