.nav {
  @include tablet {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: 100vh;
    background-color: var(--color-light);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  &__list {
    @include flex-v-center;

    @include tablet {
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  }
  &__item {
    &-mobile {
      display: none;

      @include tablet {
        display: block;
      }
    }
    &:not(:last-child) {
      margin-right: 60px;
    }

    @include tablet {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 25px;
      }
    }
  }
  &__link {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-light);
    transition: color 0.3s ease-in-out;
    &:hover {
      color: var(--color-silver);
    }

    @include tablet {
      font-size: 20px;
      line-height: 25px;
      color: var(--color-black);
    }
  }
}
.menu--active {
  opacity: 1;
  visibility: visible;
}
