.social {
  @include flex-all-center;

  &__item {
    &:not(:last-child) {
      margin-right: 21px;
    }
  }
  &__link {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-light);
  }
}
