<section class="advantages">
  <div class="container advantages__container">
    <ul class="list-reset advantages__content">
      <li class="advantages__item advantage">
        <h3 class="subtitle advantage__title">Easy to drink</h3>
        <p class="descr advantage__descr">
          The perfect anytime drink, sip Haus on its own or with simple mixers
          you probably already have like soda or tonic.
        </p>
      </li>
      <li class="advantages__item advantage">
        <h3 class="subtitle advantage__title">
          Natural ingredients.<br />
          Nothing fake.
        </h3>
        <p class="descr advantage__descr">
          Artificial ingredients and refined sugars are a big culprit in
          hangovers. Feel good about what's in your glass that night — and the
          next day.
        </p>
      </li>
      <li class="advantages__item advantage">
        <h3 class="subtitle advantage__title">Delivered to your door</h3>
        <p class="descr advantage__descr">
          We blend, bottle, and ship our products straight from Sonoma, CA to
          your doorstep.
        </p>
      </li>
    </ul>
    <div class="advantages__image">
      <img
        class="advantages__img"
        src="img/advantages-img.jpg"
        alt=""
        width="880"
        height="608"
      />
    </div>
  </div>
</section>
