<section class="aperitifs">
  <div class="container aperitifs__container">
    <div class="aperitifs__image">
      <img
        class="aperitifs__img"
        src="img/aperitifs-img.jpg"
        alt=""
        width="1320"
        height="560"
      />
    </div>
    <div class="aperitifs__wrapper">
      <h2 class="aperitifs__title">An intro to apéritifs</h2>
      <p class="descr aperitifs__descr">
        Apéritifs are a category of spirits with complex flavors derived from
        fruits, herbs, and botanicals. Their lighter alcohol content (less than
        whiskey, more than wine) makes them perfect to sip all evening.
      </p>
    </div>
  </div>
</section>
