<section class="aperitifs">
  <div class="container aperitifs__container">
    <div class="aperitifs__image" data-aos="fade-down" data-aos-delay="300">
      <picture>
        <source srcset="img/aperitifs-img.avif" type="image/avif" />
        <source srcset="img/aperitifs-img.webp" type="image/webp" />
        <img
          class="aperitifs__img"
          loading="lazy"
          src="img/aperitifs-img.jpg"
          width="1320"
          height="560"
          alt=""
        />
      </picture>
    </div>
    <div class="aperitifs__wrapper">
      <h2 class="aperitifs__title" data-aos="fade-left" data-aos-delay="600">
        An intro to apéritifs
      </h2>
      <p
        class="descr aperitifs__descr"
        data-aos="fade-left"
        data-aos-delay="900"
      >
        Apéritifs are a category of spirits with complex flavors derived from
        fruits, herbs, and botanicals. Their lighter alcohol content (less than
        whiskey, more than wine) makes them perfect to sip all evening.
      </p>
    </div>
  </div>
</section>
