<section class="appreciation">
  <h2 class="visually-hidden">Our Customers Reviews</h2>
  <div class="container appreciation__container">
    <ul class="list-reset appreciation__list">
      <li class="appreciation__item">
        <p class="descr appreciation__descr">
          “Haus has found the solution I didn't really know I was looking for!”
        </p>
        <span class="appreciation__name">Susan</span>
        <span class="appreciation__position">verified buyer</span>
      </li>
      <li class="appreciation__item">
        <p class="descr appreciation__descr">
          “I love the flavor of this apéritif — it's light and lively, and it's
          refreshing with seltzer or tonic.”
        </p>
        <span class="appreciation__name">Fiona</span>
        <span class="appreciation__position">verified buyer</span>
      </li>
      <li class="appreciation__item">
        <p class="descr appreciation__descr">
          “It's delicious, and unique. I love everything from the packaging, to
          the flavors.”
        </p>
        <span class="appreciation__name">Esteban</span>
        <span class="appreciation__position">verified buyer</span>
      </li>
    </ul>
  </div>
</section>
