<section class="difference">
  <div class="container difference__container">
    <div class="difference__image">
      <picture>
        <source srcset="img/difference-img.avif" type="image/avif" />
        <source srcset="img/difference-img.webp" type="image/webp" />
        <img
          class="difference__img"
          loading="lazy"
          src="img/difference-img.jpg"
          width="550"
          height="470"
          alt=""
        />
      </picture>
    </div>
    <div class="difference__content">
      <h2 class="section-title difference__title">
        We do things differently than most producers
      </h2>
      <p class="descr difference__descr">
        Our flavors are derived from real fruits, herbs, and botanicals, not
        ingredients from a lab. We leave out the artificial ingredients and
        excess sugar, and tell you what's inside. It's a better way to drink.
      </p>
      <a class="btn btn--empty difference__link" href="#">LEARN MORE</a>
    </div>
  </div>
</section>
