<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__notify">
          <h2 class="footer__title">Stay posted</h2>
          <p class="descr footer__descr">Let's be friends. Subscribe to our newsletter to receive updates on new launches, recipes, playlists, and more.</p>
          <form class="footer__form" action="#">
            <input class="input-reset footer__input" type="email" placeholder="YOUR EMAIL ADDRESS" required></input>
            <button class="btn-reset footer__btn" type="submit">Submit</button>
          </form>
      </div>
      <div class="footer__nav">
        <div class="footer__column">
          <h3 class="footer__column-title">Explore</h3>
          <ul class="list-reset footer__list">
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Home</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Shop</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Membership</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Our Story</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">FAQ</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Refer a Friend</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Corporate Gifting</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Gift Card</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <h3 class="footer__column-title">Follow</h3>
          <ul class="list-reset footer__list">
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Instagram</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Spotify</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Twitter</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Facebook</a>
            </li>
          </ul>
        </div>
        <div class="footer__column">
          <h3 class="footer__column-title">Drop Us a Line</h3>
          <ul class="list-reset footer__list">
            <li class="footer__list-item">
              <a class="footer__list-link" href="mailto:hello@drink.haus">hello@drink.haus</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="mailto:press@drink.haus">press@drink.haus</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="mailto:partnerships@drink.haus">partnerships@drink.haus</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="mailto:jobs@drink.haus">jobs@drink.haus</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="mailto:wholesale@drink.haus">wholesale@drink.haus</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="list-reset footer__bottom-list">
      <li class="footer__bottom-item footer__copy">© Haus 2021
      </li>
      <li class="footer__bottom-item">
        <a class="footer__bottom-link" href="#">Contact Us</a>
      </li>
      <li class="footer__bottom-item">
        <a class="footer__bottom-link" href="#">Return Policy</a>
      </li>
      <li class="footer__bottom-item">
        <a class="footer__bottom-link" href="#">Privacy Policy</a>
      </li>
      <li class="footer__bottom-item">
        <a class="footer__bottom-link" href="#">Terms & Conditions</a>
      </li>
    </ul>
  </div>
</footer>
