<section class="goods">
  <div class="container goods__container">
    <h2 class="section-title goods__title">
      Made with natural ingredients, nothing fake
    </h2>
    <div class="goods__link-wrapper">
      <a class="btn btn--empty goods__link" href="#">Shop All Flavors</a>
    </div>
    <ul class="list-reset goods__list">
      <li
        class="goods__item product-card"
        data-aos="fade-left"
        data-aos-delay="300"
      >
        <picture>
          <source srcset="img/product-1.avif" type="image/avif" />
          <source srcset="img/product-1.webp" type="image/webp" />
          <img
            class="product-card__img"
            loading="lazy"
            src="img/product-1.png"
            width="382"
            height="451"
            alt="The Sampler Kit"
          />
        </picture>
        <h3 class="subtitle product-card__title">The Sampler Kit</h3>
        <p class="product-card__descr">
          Try a variety of Haus flavors with our customizable four-bottle kit.
          Each bottle serves 2-3 drinks.
        </p>
        <a class="btn product-card__link" href="#">Shop Now</a>
      </li>
      <li
        class="goods__item product-card"
        data-aos="fade-left"
        data-aos-delay="600"
      >
        <picture>
          <source srcset="img/product-2.avif" type="image/avif" />
          <source srcset="img/product-2.webp" type="image/webp" />
          <img
            class="product-card__img"
            loading="lazy"
            src="img/product-2.png"
            width="382"
            height="451"
            alt="Grapefruit Jalapeño"
          />
        </picture>
        <div class="product-card__label">best seller</div>
        <h3 class="subtitle product-card__title">Grapefruit Jalapeño</h3>
        <p class="product-card__descr">
          Light and refreshing, this aperitif is a bright blend of citrus with a
          subtle kick of fresh jalapeño.
        </p>
        <a class="btn product-card__link" href="#">Shop Now</a>
      </li>
      <li
        class="goods__item product-card"
        data-aos="fade-left"
        data-aos-delay="900"
      >
        <picture>
          <source srcset="img/product-3.avif" type="image/avif" />
          <source srcset="img/product-3.webp" type="image/webp" />
          <img
            class="product-card__img"
            loading="lazy"
            src="img/product-3.png"
            width="382"
            height="451"
            alt="Citrus Flower"
          />
        </picture>
        <div class="product-card__label">best seller</div>
        <h3 class="subtitle product-card__title">Citrus Flower</h3>
        <p class="product-card__descr">
          A fresh Californian take on the apéritif. Made with crisp lemon and
          subtle elderflower.
        </p>
        <a class="btn product-card__link" href="#">Shop Now</a>
      </li>
    </ul>
  </div>
</section>
