<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__image">
      <img
        class="hero__img"
        src="img/hero-img.jpg"
        alt=""
        height="720"
        width="800"
        aria-hidden="true"
      />
    </div>
    <div class="hero__content">
      <h1 class="hero__title">Alcohol for the modern drinker</h1>
      <p class="descr hero__descr">
        Light and refreshing flavors made with real, clean ingredients you can
        feel good about. Just pour, sip, and enjoy.
      </p>
      <a class="btn btn--hollow hero__btn" href="#">Shop ALL</a>
    </div>
  </div>
</section>
