<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__image">
      <picture>
        <source srcset="img/hero-img.avif" type="image/avif" />
        <source srcset="img/hero-img.webp" type="image/webp" />
        <img
          class="hero__img"
          src="img/hero-img.jpg"
          width="800"
          height="720"
          alt=""
        />
      </picture>
    </div>
    <div class="hero__content">
      <h1 class="hero__title" data-aos="fade-left">
        Alcohol for the modern drinker
      </h1>
      <p class="descr hero__descr" data-aos="fade-left" data-aos-delay="400">
        Light and refreshing flavors made with real, clean ingredients you can
        feel good about. Just pour, sip, and enjoy.
      </p>
      <a
        class="btn btn--hollow hero__btn"
        href="#"
        data-aos="fade-left"
        data-aos-delay="800"
        data-aos-easing="ease-in-sine"
        >Shop ALL</a
      >
    </div>
  </div>
</section>
