<section class="reviews">
  <h2 class="visually-hidden">Reviews about us</h2>
  <div class="container reviews__container">
    <ul class="list-reset reviews__list">
      <li class="reviews__item review" data-aos="fade-up" data-aos-delay="300">
        <a class="review__link" href="#">
          <p class="descr review__text">
            "What makes Haus so special is its incredible flavors."
          </p>
          <img
            class="review__img"
            src="img/review-1.svg"
            alt="Food & Wine Logo"
            width="300"
            height="50"
          />
        </a>
      </li>
      <li class="reviews__item review" data-aos="fade-up" data-aos-delay="600">
        <a class="review__link" href="#">
          <p class="descr review__text">
            “For the wine or cocktail lover who's tried it all and wants
            something new and refreshing.”
          </p>
          <img
            class="review__img"
            src="img/review-2.svg"
            alt="New York Times Logo"
            width="300"
            height="50"
          />
        </a>
      </li>
      <li class="reviews__item review" data-aos="fade-up" data-aos-delay="900">
        <a class="review__link" href="#">
          <p class="descr review__text">
            “Cleaner, responsibly sourced, and lower in alcohol.”
          </p>
          <img
            class="review__img"
            src="img/review-3.svg"
            alt="bon apetit Logo"
            width="300"
            height="50"
          />
        </a>
      </li>
    </ul>
  </div>
</section>
