<section class="spotify">
  <div class="container spotify__container">
    <div class="spotify__block" data-aos="fade-right" data-aos-delay="300">
      <h2 class="spotify__title">Set the mood</h2>
      <p class="spotify__descr">
        Curated playlists from Woody + Helena, plus some of our friends and
        favorite brands.
      </p>
      <a class="btn btn--white spotify__link" href="#">Spotify</a>
    </div>
    <div class="spotify__social" data-aos="fade-right" data-aos-delay="500">
      <p class="spotify__descr spotify__social-text">
        Follow us, share us, drink Ha(us)
      </p>
      <ul class="list-reset spotify__list social">
        <li class="social__item">
          <a class="social__link" href="#">Instagram</a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">Twitter</a>
        </li>
        <li class="social__item">
          <a class="social__link" href="#">Facebook</a>
        </li>
      </ul>
    </div>
  </div>
</section>
